<ul class="breadcrumb">
    <li>
        <a href="/home/index/index">党建云平台</a> <span class="divider">/</span>
    </li>
    <li class="active">
        党委工作
    </li>
    <li class="active">
        编辑工作
    </li>
</ul>

<br/>
<div class="container">
  <form class="form-horizontal" action="{:U('modify','','')}" role="form" method="post">
    <div class="control-group">
         <label class="control-label" for="title" style="color:#fff">标题</label>
        <div class="controls">
            <input id="id" name="id" type="hidden" value="{$data.data.id}" required />
            <input style="width:500px" id="title" name="title" type="text" placeholder="标题" value="{$data.data.title}" required />
        </div>
    </div>
    <div class="control-group" style="width:900px">
         <label class="control-label" for="content" style="color:#fff">正文</label>
        <div class="thumbnail">
            <textarea id="summernote" name="content">{$data.data.content}</textarea>

        </div>
    </div>
    <div class="control-group" style="width:900px">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
        <a class="btn btn-primary pull-right" href="/home/work/detail?id={$data.data.id}">取消</a>
    </div>
  </form>
</div>

 <script >
    $(document).ready(function() {
        $('#summernote').summernote({
            height:300,focus:true,maxHeight:null,minHeight:null,
        });
    });
</script>
