{__NOLAYOUT__}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="span12">
        <form enctype="multipart/form-data" method="post" >
            <fieldset>
                 <legend>文件上传</legend>
                 <br/>
                 <input type="text" name="name" />
                 <br/>
                 <input type="file" name="file" />
                </br/>
                 <button type="submit" class="btn btn-primary">开始上传</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>